:root{
    --tamanho: 16px;
    --tamanhoTela: 360px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



.breveD{
    font-size: .8rem;
    color: #f8f400;
    text-shadow: 0px 0px 10px #f5ba26, 0 0 10px black;
}

body{
    background-color: black;
    color: #06F3AF;
    width: 360px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid #06F3AF;
    font-size: 1rem;
    /*font-size: calc(var(--tamanho) + calc(var(--tamanhoTela) -1000));*/
}

header .incubs{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0 5px 0;
}

.slog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #f5ba26;
    font-size: 0.9rem;
}

header a{
    color: #06F3AF;
    text-decoration: none;
    text-shadow: 0px 0px 10px #f5ba26, 0 0 10px black;
}

header img{
    height: 90%;
}

.titulos{
    margin: 10px 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px 3px 15px 3px;
    color: black;
}

.row1{
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px #f8bf2e, 0 0 10px black;;
}

.row1::-webkit-scrollbar{
    display: none;
}

ul li a{
    color: rgb(255, 255, 255);
}

ul li{
    list-style: none;
    margin: 5px 0;
}

.item{
    font-size: 1.3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

.titDes{
    min-width: 170px;
    max-width: 170px;
    white-space: break-spaces;
    color: white; 
}

.item span{
    margin: 0 0px 0 10px;
}

.item button{
    cursor: pointer;
    background-color: blue;
    border: 3px solid transparent;
    color: white;
    border-radius: 12px 0 12px 0;
    padding: 3px;
}

.imgD {
    max-width: 100px;
}

.imgD img{
    width: 100%;
}

.detalhes{
    position: absolute;
    width: 360px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: 4px solid #06F3AF;
    /*background: linear-gradient(to right, #0d3747, #020f14);*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 10px;
    border-radius: 28px;
}

.detalhes label{
    margin: 10px 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px 3px 15px 3px;
    color: rgb(0, 0, 0);
    width: 95%;
    padding: 10px;
    font-weight: bold;
}

.detalhes .fotoD{
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 150px;
    margin: 10px auto;
}

.fDetal{
    position: absolute;
    width: 360px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: 4px solid #06F3AF;
    /*background: linear-gradient(to right, #0d3747, #020f14);*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 10px;
    border-radius: 28px;
}

.fDetal img{
    width: 100%; 
}

.fotoD img{
    width: 30%;
    border-radius: 12px;
}

.informsP{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    max-height: 310px; 
    overflow-y: scroll;
}

.some{
    display: none;
}

.detalhes p{
    text-align: center; 
    width: 100%;
    padding: 0 0 5px 10px;
    font-weight: bold;
    margin: 2px 0;
    color: rgb(0, 255, 0);
}

.detalhes span{
    font-weight: normal;
    color: white;
    text-align: center;
    width: 100%;
    text-align: left;
    border: 1px solid #06F3AF;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.informsP::-webkit-scrollbar{ 
    display: none;
}

.butopt{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.butopt button{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(245, 245, 236);
    border-radius: 12px;
    font-weight: bold;
}

#btnClose{
    background-color: red;
    color: white;
}

#btnBuy{
    background-color: blue;
    color: white;
}

#btnChat{
    background-color: #0bb649;
    color: white;
}


/* Especial LOAD */

#backLoad{
    position: absolute;
    top: 25%;
    left: 49%; 
    transform: translate(-50%, -50%);
}
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 8px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 8px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 8px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }